@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit
}

body{
    color: #222328;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
}

.wrap{
    width: 1200px;
    margin: 0 auto;
}

/* .header */
.header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 a {
    display: block;
    text-indent: -9999px;
    width: 200px;
    height: 40px;
    background: url('../images/logo.png') no-repeat center;
}

.gnb{
    display: flex;
    font-size: 16px;
}

.gnb > li{
    position: relative;
}

.gnb > li > a {
    display: block;
    height: 100px;
    line-height: 100px;
    padding: 0 40px;
}

.gnb > li > a:hover {
    color: tomato;
}


.gnb ul{
    position: absolute;
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    display: none;
}

.gnb ul li a {
    display: block;
    padding: 5px 0;
}

.gnb ul li:hover a {
    background-color: tomato;
    color: #fff;
}

/* .slide */
.slider{
    position: relative;
    overflow: hidden;
    height: 300px;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
}

.slide .item img{
    display: block;
}


/* .contents */
.contents{
    display: flex;
    gap: 20px;
    padding: 10px 0;
}

.tab {
    flex: 1;
    /* background-color: aqua; */
    position: relative;
}

.tab_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.tab_title h2{
    flex: 1;
}

.tab_title a {
    display: block;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    background-color: #eee;
}

.tab_title a.on {
    background-color: tomato;
    color: #fff;
}

.tab_title::after {
    content: '';
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: tomato;
}

.tab_contents {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    height: 130px;
}
.tab_contents .notice {
    /* display: none; */
}

.tab_contents .notice a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 6px;
}

.tab_contents .gallery {
    display: flex;
    gap: 12px;
    height: 100%;
    padding: 10px 10px 0 10px;
    display: none;
}
.tab_contents .gallery li {
    width: 100%;
}

.tab_contents .gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.banner{
    flex: 1;
}

.banner img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link{
    flex: 1;
}

.link .items {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
}

.link .items a {
    display: block;
    background-color: #ddd;
    border-radius: 8px;
    height: 85px;
    line-height: 85px;
    text-align: center;
}

/* .footer */
.footer{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #eee;
}

.footer .sns {
    display: flex;
    gap: 30px;
}

.footer h1 a{
    display: block;
    text-indent: -9999px;
    width: 200px;
    height: 40px;
    background: url('../images/logo-footer.png') no-repeat center;
}

.blind {
    display: none;
}



